/.vscode
/build*
*.swp

/.idea
/cmake-build-*
/.vs
/CMakeSettings.json
/out
.DS_Store
CMakeLists.txt.user
.cache
/vcpkg-artifacts/node_modules/
**/dist/
/vcpkg-root
/CMakeUserPresets.json
/work
/azure-pipelines/e2e_projects/applocal-test/build/main.exe
/azure-pipelines/e2e_projects/applocal-test/build/main.obj
/azure-pipelines/e2e_projects/applocal-test/build/mylib.exp
/azure-pipelines/e2e_projects/applocal-test/build/mylib.dll
/azure-pipelines/e2e_projects/applocal-test/build/mylib.lib
/azure-pipelines/e2e_projects/applocal-test/build/mylib.obj
/azure-pipelines/e2e_projects/applocal-test/plugins/azure_kinect_sensor_sdk/main.cpp
/azure-pipelines/e2e_projects/applocal-test/plugins/azure_kinect_sensor_sdk/main.obj
/azure-pipelines/e2e_projects/applocal-test/plugins/azure_kinect_sensor_sdk/depthengine_2_0.exp
/azure-pipelines/e2e_projects/applocal-test/plugins/azure_kinect_sensor_sdk/depthengine_2_0.dll
/azure-pipelines/e2e_projects/applocal-test/plugins/azure_kinect_sensor_sdk/depthengine_2_0.lib
/azure-pipelines/e2e_projects/applocal-test/plugins/azure_kinect_sensor_sdk/depthengine_2_0.obj
/azure-pipelines/e2e_projects/applocal-test/plugins/azure_kinect_sensor_sdk/k4a.exp
/azure-pipelines/e2e_projects/applocal-test/plugins/azure_kinect_sensor_sdk/k4a.dll
/azure-pipelines/e2e_projects/applocal-test/plugins/azure_kinect_sensor_sdk/k4a.lib
/azure-pipelines/e2e_projects/applocal-test/plugins/azure_kinect_sensor_sdk/k4a.obj
