/.vscode
/build*
*.swp

/.idea
/cmake-build-*
/.vs
/CMakeSettings.json
/out
/OneLocBuild
.DS_Store
CMakeLists.txt.user
.cache
/vcpkg-artifacts/node_modules/
**/dist/
/vcpkg-root
/CMakeUserPresets.json
/work
